<!DOCTYPE html>
<html>
<head>
	<title>Bluebix</title>
</head>
<body>
    <h1>Thank You For Joining With Us.</h1>
    <p>Please Click below link to Verify your Email.</p>
    <a href='<%= mail_data %>'>Verify Your Account.</a>
	
</body>
</html>